@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}
@keyframes unlike {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(15%);
  }
  90% {
    transform: translateY(-0.5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(20%);
  }
  90% {
    transform: translateX(-0.5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  90% {
    transform: translateX(0.5rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes loading {
  20%,
  25% {
    opacity: 1;
    filter: blur(0);
  }
  25%,
  50% {
    opacity: 0;
    filter: blur(1px);
  }

  50%,
  70% {
    opacity: 0;
    filter: blur(1px);
  }
  70%,
  75% {
    opacity: 1;
    filter: blur(0);
  }
  75%,
  100% {
    opacity: 0;
  }

  // 0% {
  // }
  // 5%,
  // 25% {
  //   opacity: 1;
  // }
  // 15%,
  // 35% {
  //   opacity: 1;
  // }
  // 40% {
  //   opacity: 0;
  // }
  // 80% {
  //   opacity: 1;
  // }
  // 95% {
  //   opacity: 0;
  // }
}
