body {
  font-family: monospace;
  font-weight: 400;
  font-size: $defaut-font-size;
  line-height: 1.7;
  // color: $color-grey-dark;
}

.white {
  color: $color-grey-light-2;
  color: #ececec;
  font-size: 3rem;
  line-height: 3.6rem;
  font-weight: 500;
}
