@import "abstract/mixins";
@import "abstract/variables";

@import "base/animations";
@import "base/base";
@import "base/typogrophy";
@import "base/utilities";

// @import "components/mainBtn";

@import "pages/home";
// @import "layout/grid";

// @import "layout/navigation";


@import "layout/header";
@import "layout/navigation";
@import "layout/footer";
@import "layout/carousel";
@import "pages/search";
@import "layout/dropDown";
@import "layout/collapsible";
@import "layout/petCard";