.about {
    width: 100%;
    margin-top: 300px;
    padding-bottom: 500px;
    padding-right: 131px;
    background-image: url(../../images/women-and-dog.svg);
    background-size: 100% ;
    background-repeat: no-repeat;
    background-position: bottom;

    &__blueTitle {
        font-family: Rubik;
        font-style: normal;
        font-weight: bold;
        font-size: 4.375rem;
        line-height: 83px;
        margin-bottom: 40px;
        color: $color-primary;
    }

    &__paragraph {
        font-family: Rubik;
        font-style: normal;
        font-weight: 400;
        font-size: 2.5rem;
        line-height: 47px;
        text-align: right;
    }

    &__orangeTitle {
        font-family: Rubik;
        font-style: normal;
        font-weight: bold;
        font-size: 4.375rem;
        line-height: 83px;
        text-align: right;
        margin-top: 50px;
        margin-bottom: 40px;
        color: $color-secondary-dark;
    }
}
