.pets-section {
  direction: ltr;

  &__title {
    text-align: center;
    padding: 5rem 0 5rem;
    color: #000;
  }
}

.main {
  &__shoutout {
    background-image: url(../../images/headerImage.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    height: 34vw;
    width: 100vw;
    margin-top: 14rem;
    @include respond(tab-port) {
      background-attachment: inherit;
      height: 50vh;
      background-size: cover;
    }
  }

  &__title {
    padding-top: 6rem;
    text-align: center;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 59px;
  }

  &__image {
    width: 90vw;
    max-width: 1920px;
    display: flex;
    margin: auto;
  }
  &__text {
    text-align: center;

    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 53px;
  }
}
//ACCORDION CSS NO JS TRICK
input + label + .content {
  display: block;
  @media (max-width: 69.7em) {
    display: none;
  }
}
input:checked + label + .content {
  display: block;
}

.responsibility {
  max-width: 1;
  margin: auto;
  padding-top: 10rem;
  text-align: center;
  font-family: Rubik;
  font-style: normal;
  font-size: 3rem;
  line-height: 5.9rem;
  display: flex;

  // &-section {
  //   transform: translateY(40%);
  //   opacity: 0;
  //   transition: all 0.5s;
  //   will-change: transform opacity;
  //   &.is-visible {
  //     transform: translateY(0%);
  //     opacity: 1;
  //   }
  // }

  @media (max-width: 100em) {
    font-size: 2.5rem;
  }
  @media (max-width: 91.25em) {
    font-size: 2rem;
  }
  @media (max-width: 69.7em) {
    font-size: 1.5rem;
    justify-content: space-between;
  }

  &__title {
    text-align: center;
    padding-top: 6rem;
    text-align: center;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 59px;
  }
  &__info {
    display: flex;
    margin: auto;
  }

  &__centerImage {
    &.is-visible {
      animation: moveInTop 0.5s;
      animation-delay: 0.3s;
      animation-fill-mode: backwards;
      backface-visibility: hidden;
    }

    @include responsibility;
    width: 30%;
    @include respond(phone) {
      position: absolute;
      left: 50%;
      transform: translate(-57%, -3px);
      width: 32rem;
      backface-visibility: hidden;
    }
  }

  &__right {
    @include responsibility;

    &-top {
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-start;
      &.is-visible {
        animation: moveInRight 0.7s;
        animation-delay: 0.3s;
        animation-fill-mode: backwards;
      }

      &-image {
        padding-right: 5rem;

        @include respond(tab-port) {
          width: 5rem;
          padding-right: 1rem;
          padding-top: 2rem;
        }
      }
      &-text {
        transition: all 0.5s;

        margin-bottom: 3rem;
        &:hover {
          transform: scale(1.15);
        }

        @include respond(phone) {
        }
      }
    }

    &-center {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;

      &.is-visible {
        animation: moveInRight 0.7s;
        animation-delay: 0.6s;
        animation-fill-mode: backwards;
      }

      &-image {
        padding-right: 8rem;
        @include respond(tab-port) {
          width: 5rem;
          padding-right: 1rem;
        }
      }
      &-text {
        transition: all 0.5s;
        &:hover {
          transform: scale(1.15);
        }

        @include respond(phone) {
        }
      }
    }
    &-bottom {
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-end;

      &.is-visible {
        animation: moveInRight 0.7s;
        animation-delay: 0.9s;
        animation-fill-mode: backwards;
      }

      &-image {
        padding-right: 4rem;
        @include respond(tab-port) {
          width: 5rem;
          padding: 0;
        }
        @include respond(phone) {
          padding-bottom: 5rem;
        }
      }

      &-text {
        margin-bottom: -3rem;
        transition: all 0.5s;
        &:hover {
          transform: scale(1.15);
        }

        @include respond(phone) {
          margin-bottom: 0rem;
        }
      }
    }
  }

  &__left {
    width: 33%;

    @include responsibility;

    &-top {
      display: flex;
      align-items: flex-start;

      &.is-visible {
        animation: moveInLeft 0.7s;
        animation-delay: 0.3s;
        animation-fill-mode: backwards;
      }

      &-image {
        padding-right: 5rem;
        transform: rotateY(180deg);
        @include respond(tab-port) {
          width: 5rem;
          padding-right: 1rem;
          padding-top: 2rem;
        }
      }
      &-text {
        margin-bottom: 3rem;
        transition: all 0.5s;
        &:hover {
          transform: scale(1.15);
        }

        @include respond(phone) {
        }
      }
    }

    &-center {
      display: flex;
      align-items: center;

      &.is-visible {
        animation: moveInLeft 0.7s;
        animation-delay: 0.6s;
        animation-fill-mode: backwards;
      }

      &-image {
        padding-right: 8rem;
        transform: rotateY(180deg);
        @include respond(tab-port) {
          width: 5rem;
          padding-right: 1rem;
        }
      }
      &-text {
        transition: all 0.5s;
        &:hover {
          transform: scale(1.15);
        }

        @include respond(phone) {
        }
      }
    }
    &-bottom {
      display: flex;
      align-items: flex-end;

      &.is-visible {
        animation: moveInLeft 0.7s;
        animation-delay: 0.9s;
        animation-fill-mode: backwards;
      }

      &-image {
        transform: rotateY(180deg);
        @include respond(tab-port) {
          width: 5rem;
          padding: 0;
        }
        @include respond(phone) {
          padding-bottom: 5rem;
        }
      }

      &-text {
        margin-bottom: -3rem;
        transition: all 0.5s;
        &:hover {
          transform: scale(1.15);
        }

        @include respond(phone) {
          margin-bottom: 0rem;
        }
      }
    }
  }

  &-centerImage {
    object-fit: contain;
    width: 30%;
  }
}

.pets-section_more-pets {
  background: #fa8e2b;
  display: flex;
  width: 20rem;
  height: 6rem;
  border: 1px solid #fa8e2b;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.28);
  border-radius: 20px;
  margin: 2rem auto 5rem;
  font-size: 2.5rem;
  justify-content: center;
  align-items: center;

  transition: all 0.3s;
  backface-visibility: hidden;

  &:hover {
    @include buttonHover;
  }

  & a {
    color: #fff;
    text-decoration: none;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
  }
}
