.pets-section {
  &__title {
    text-align: center;
    padding: 5rem 0 5rem;
    color: #000;
  }
}

.main {
  &__title {
    padding-top: 6rem;
    text-align: center;

    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 59px;
  }
  &__responsibility {
    margin: auto;
    padding-top: 10rem;
    text-align: center;
    font-family: Rubik;
    font-style: normal;
    font-size: 2rem;
    line-height: 5.9rem;

    &__images {
      width: 90vw;
      display: flex;
      margin: auto;
    }

    &-center {
      width: 33%;
      object-fit: contain;
      animation: moveInTop 0.5s;
      animation-fill-mode: backwards;
      animation-delay: 0.3s;
    }
    &-right {
      width: 33%;
      object-fit: contain;
      animation: moveInRight 1s;
      animation-fill-mode: backwards;
      animation-delay: 1s;
    }
    &-left {
      width: 33%;
      object-fit: contain;
      animation: moveInLeft 1s;
      animation-fill-mode: backwards;
      animation-delay: 1s;
    }
  }

  &__image {
    width: 100vw;
  }
  &__text {
    text-align: center;

    font-family: Rubik;
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
    line-height: 53px;
  }
}
