.search {
  background: rgba(255, 255, 255, 0.22);
  padding-top: 100px;

  @include respond(tab-port) {
    padding-top: 200px;
  }

  &__title {
    margin-top: 150px;
    padding-top: 25px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #e7e3d7;

    &__text {
      font-family: $default-font-family;
      font-style: $font-style-normal;
      font-weight: $font-weight-normal;
      font-size: 3.125rem;

      &__image {
        width: 46.09px;
        height: 39px;
      }
    }
    @include respond(tab-port) {
      margin-top: -25px;
    }
  }

  &__results {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 50px;
    background: #e7e3d7;
  }

  &__noPets {
    font-size: 2.25rem;
    font-family: $default-font-family;
    font-style: $font-style-normal;
    font-weight: $font-weight-normal;
  }

  &__pagingWrapper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 200px;
    background: #e7e3d7;
    text-align: center;

    @include respond(tab-port) {
      padding-bottom: 50px;
    }
  }
  &__pageButton {
    margin: 5px;
    font-family: $default-font-family;
    font-style: $font-style-normal;
    font-weight: $font-weight-normal;
    font-size: 30px;
    line-height: 36px;
    color: #ececec;
    width: 53px;
    height: 47px;
    background: #252525;
    border-radius: 15px;
    outline: none;
    border: none;
    cursor: pointer;
  }

  &__currentPageButton {
    margin: 5px;
    font-family: $default-font-family;
    font-style: $font-style-normal;
    font-weight: $font-weight-normal;
    font-size: 30px;
    line-height: 36px;
    color: #ececec;
    width: 53px;
    height: 47px;
    background: #fa8e2b;
    border-radius: 15px;
    outline: none;
    border: none;
    cursor: pointer;
  }

  &__fastPageButton {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__pageArrow {
    margin-bottom: -5px;
    margin-right: 10px;
    margin-left: 10px;
  }
}
