.imageViewer {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.imageViewerContent {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  font-size: 5rem;
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.imageViewerContent,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .imageViewerContent {
    width: 100%;
  }
}

.arrow {
  margin-right: auto;
  margin-left: auto;
  font-size: 60px;
  color: $color-white;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.numberOfImages {
  font-family: Rubik;
  font-style: $font-style-normal;
  font-weight: $font-weight-normal;
  margin-bottom: 25px;
  color: $color-white;
  text-align: center;
}