.carousel {
  position: relative;

  display: flex;
  place-content: space-evenly;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 40%,
    rgba(209, 209, 209, 1) 40%
  );
  height: 55rem;

  &__arrow {
    font-size: 5rem;
    padding: 0 2rem;
    margin: auto;
  }
  &__item {
    width: 43rem;

    &__imageFrame {
    }

    &__image {
      display: block;
      margin: auto;
      padding: 1rem 0;
      height: 31rem;
      object-fit: cover;
      z-index: 5;

      &::after {
        content: "";
        display: table;
        clear: both;
      }
    }

    &__info {
      background: $color-primary;
      border-radius: 1rem;
      padding: 5rem 2.7rem 2.7rem;
      width: fit-content;
      min-width: 33rem;
      margin: auto;
      margin-top: -3rem;
      z-index: 0;
    }

    &__paragraph {
      font-style: normal;
      font-weight: normal;
      font-size: 2rem;
      line-height: 2.4rem;
    }
  }
}

.like {
  font-size: 5rem;
}
.middle {
}
.edge {
  @include respond(phone) {
    display: none;
  }
}
