.carousel {
  position: relative;    align-items: center;
  display: flex;
  place-content: space-evenly;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 50%, $color-grey-carousel 40%);
  height: 35vw;
  border-bottom: 10vw solid $color-grey-carousel;

  @include respond(normal-desktop) {
    height: 40vw;
    border-bottom: 15vw solid $color-grey-carousel;
}

  @include respond(tab-land) {
    height: 60vw;
}
  
  &__arrow {
    font-size: 5rem;
    padding: 0 2rem;
    margin: auto;
  }

  &__item {
    width: fit-content;
    padding-right: 5vw;
    padding-left: 5vw;
   
    &__imageFrame {
    }

    &__image {
      position: relative;
      display: block;
      margin: auto;
      height: 17vw;
      object-fit: cover;
      z-index: 5;
      border: 2rem solid transparent;
      border-image: url(../../images/wooden-texture.jpg) 40;
      border-image-repeat: inherit;

      &::after {
        content: "";
        display: table;
        clear: both;
      }
    }

    &__info {
      background: $color-primary;
      background-image: url(../../images/paw.png);
      background-repeat: no-repeat;
      border-top: 30px solid $color-primary;
      background-size: 10rem;
      border-radius: 1rem;
      padding: 5rem 2.7rem 2.7rem;
      width: 13vw;
      margin-top: -3rem;
      z-index: 0;
    }

    &__paragraph {
      font-style: normal;
      font-weight: normal;
      font-size: 2rem;
      line-height: 2.4rem;
    }
  }
}

.name-and-age {
  color: $color-grey-light-2;
  color: #ececec;
  font-size: 3rem;
  line-height: 3.6rem;
  font-weight: 500;
  text-overflow: ellipsis;
  max-width: 300px;
}

.like {
  font-size: 5rem;
}

.middle {
}

.edge {
  @include respond(phone) {
    display: none;
  }
}
