.carousel {
  padding: 4rem;
  @include respond(phone) {
    padding: 0;
  }

  &__arrow {
    height: 60px;
    width: 60px;
    padding: 10px;
    margin: auto;
  }

  &__item {
    position: relative;
    width: fit-content;
    margin: auto;
    text-align: -webkit-center;
    transition: all 0.3s;
    &:hover {
      filter: drop-shadow(0 0 0.5rem $color-primary-dark);
      cursor: pointer;
    }

    &__imageFrame {
      position: relative;
    }

    &__image {
      display: block;
      height: 20vw;
      max-height: 400px;
      width: 89%;
      object-fit: cover;
      margin: auto;
      border: 1.4rem solid transparent;
      border-image-repeat: inherit;
      border-radius: 25px;
      z-index: 5;

      &::after {
        content: "";
        display: table;
        clear: both;
      }

      @include respond(tab-port) {
        height: 35rem;
      }
      @include respond(phone) {
        height: 25rem;
      }
    }

    &__info {
      background: $color-primary;
      background-image: url(../../images/paw-light.svg);
      background-size: 7rem;
      background-repeat: no-repeat;
      border-top: 30px solid $color-primary;
      border-radius: 1.2rem;
      padding: 2.5rem 1rem 1rem;
      width: 60%;
      max-height: 400px;
      margin-top: -3rem;
      text-align: right;

      @include respond(tab-port) {
        // width: 1px;
      }
      @include respond(phone) {
        padding: 0 1rem 1rem;
        margin-bottom: 5rem;
        background-image: none;
      }
    }

    &__paragraph {
      font-style: normal;
      font-weight: normal;
      font-size: 1.6rem;
      line-height: 2rem;
    }
  }
}

.name-and-age {
  color: $color-grey-light-2;
  color: #ececec;
  font-size: 3rem;
  font-weight: 500;
  text-overflow: ellipsis;
  max-width: 170px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.5rem;
}

.slick-list {
  direction: ltr;
}
.like {
  font-size: 5rem;
}

.edge {
  @include respond(phone) {
    display: none;
  }
}

.pets-section-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 75px;
}
.pets-section-text-title {
  font-size: 3.5rem;
}

.small-paw {
  height: auto;
  width: 25px;
  margin-right: 10px;
  align-items: center;
}
