.contact {
    display: flex;
    height: 822px;
    width: 100%;
    background-image: url(../../images/contact-us-background.svg);
    background-position: left, right top;
    background-size: cover;
    background-repeat: no-repeat;

    @include respond(normal-desktop) {
        height: auto;
        display: block;
        background-size: cover;
    }

    
    &__formSide {
        width: 75%;

        @include respond(normal-desktop) {
            width: 100%;
            text-align: center;
        }
    }

    &__animalSide {
        width: 25%;
        margin: auto;

        @include respond(normal-desktop) {
            width: 100%;
            text-align: center;
        }
    }

    &__title {
        font-family: Rubik;
        font-style: normal;
        font-weight: bold;
        font-size: 4.375rem;
        line-height: 83px;
        padding-top: 64px;
        margin-right: 45.04px;
        color: $color-primary;

        @include respond(normal-desktop) {
            margin-right: auto;
        }

        @include respond(phone) {
            font-size: 35px;
       }
    }

    &__textFieldTitle {
        width: 6%;
        height: 84px;
        background: rgba(122, 122, 122, 0.7);
        padding-right: 15px;
        outline: none;
        border: none;
        color: $color-white;
        font-size: 1.5em;
        font-family: Rubik;
        font-style: normal;
        font-weight: bold;
        margin-right: 2%;
        margin-top: 80px;

        @include respond(normal-desktop) {
            margin-right: 5px;
            padding-right: 5px;
        }

        @include respond(phone) {
            font-size: 14px;
            padding-right: 1px;
            width: 7%;
            font-weight: 400;
       }
    }

    &__textField {
        width: 24%;
        height: 84px;
        background: rgba(122, 122, 122, 0.7);
        margin-top: 80px;
        outline: none;
        border: none;
        color: $color-white;
        font-size: 1.5em;
        font-family: Rubik;
        font-style: normal;
        font-weight: bold;

        @include respond(normal-desktop) {
            width: 25%;
        }

        @include respond(phone) {
            font-size: 14px;
            font-weight: 400;
       }
    }

    &__textFieldTitleBig {
        width: 100%;
        height: 60px;
        background: rgba(122, 122, 122, 0.7);
        padding-right: 15px;
        outline: none;
        border: none;
        color: $color-white;
        font-size: 1.5em;
        font-family: Rubik;
        font-style: normal;
        font-weight: bold;
        margin-right: 45.04px;
        margin-top: 80px;
        
        @include respond(normal-desktop) {
            width: 95%;
            margin-right: 5px;
        }

        @include respond(phone) {
            font-size: 14px;
            font-weight: 400;
       }
    }

    &__textFieldBig {
        width: 100%;
        height: 164px;
        background: rgba(122, 122, 122, 0.7);
        outline: none;
        border: none;
        color: $color-white;
        font-size: 1.5em;
        font-family: Rubik;
        font-style: normal;
        font-weight: bold;
        margin-right: 45.04px;
        padding-right: 45.04px;
        resize: none;

        @include respond(normal-desktop) {
            width: 95%;
            margin-right: 5px;
            padding-right: 15px;
        }

        @include respond(phone) {
            font-size: 14px;
            font-weight: 400;
       }
    }

    &__dogAndCat {
        position: relative;
        width: 740px;
        z-index: 1;

        @include respond(normal-desktop) {
            margin-bottom: -65px;
        }

        @include respond(phone) {
             width: 100%;
        }
    }

    &__textFieldTitleFirst {
        width: 5.5%;
        height: 84px;
        background: rgba(122, 122, 122, 0.7);
        padding-right: 15px;
        outline: none;
        border: none;
        color: $color-white;
        font-size: 1.5em;
        font-family: Rubik;
        font-style: normal;
        font-weight: bold;
        margin-right: 45.04px;
        margin-top: 80px;

        @include respond(normal-desktop) {
            margin-right: auto;
            padding-right: 5px;
        }

        @include respond(phone) {
            font-size: 14px;
            font-weight: 400;
            padding-right: 1px;
            width: 7%;
       }
    }

    &__send {
        font-family: Rubik;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        width: 219.2px;
        height: 50px;
        outline: none;
        border: none;
        cursor: pointer;
        color: $color-white;
        background: #fa8e2b;
        border: 1px solid #fa8e2b;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.28);
        border-radius: 20px;
        margin-top: 50px;
        margin-right: 45.04px;

        @include respond(normal-desktop) {
            float: right;
            margin-bottom: 50px;
        }
    }

    &__white-box {
        display: none;

        @include respond(normal-desktop) {
            display: block;
            height: 50px;
            width: 100%;
            background-color: $color-white;
        }
    }
}
