.contact-us {
  width: 100vw;
  height: 30vw;
  background: $color-brown;

  position: relative;

  &::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    //background-image: url(../../images/contact-us-bones.png);
    background-image: linear-gradient(
        to right bottom,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
      ),
      url(../../images/contact-us-bones.png);

    background-position: -33% 10%;
    filter: grayscale(0.5);
  }
  &__form {
    width: 75%;
    height: 100%;
    position: relative;

    &__top {
      display: flex;
      place-content: space-between;
    }
  }
  &__image {
    position: absolute;
    top: 50%;
    left: 0;
    background-image: url(../../images/contact-us-pets.png);
    background-size: contain;
    height: 15vw;
    width: 30%;
    background-repeat: no-repeat;
    transform: translateY(-50%);
  }

  &__input {
    width: 31%;
    color: #ffffff;
    background-color: #7a7a7ab3;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;

    &::placeholder {
      color: #fff;
      opacity: 1; /* Firefox */
    }
  }
  &__textarea {
    width: 100%;
    color: #ffffff;
    background-color: #7a7a7ab3;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;

    &::placeholder {
      color: #fff;
      opacity: 1; /* Firefox */
    }
  }
}
