.footer {
        color: whitesmoke;
        position: absolute;
        width: 100%;
        height: 583px;
        left: 0px;
        background: url(/images/footer-background-with-icon.png), #252525;
        background-repeat: no-repeat;
    }
    
    
    .footer-list {
        list-style: none;
        font-family: Rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 60px;
    }   
    
    .rows .colum {
        display: inline-block;
        padding: 3em;
     }