.footer {
    margin: auto;
    width: 100%;
    max-width: 1920px;
    height: 583px;
    background-size: 1600px;
    background: $color-footer-dark;
    background-repeat: no-repeat;
}

.footer-container {
    display: block;
    width: 100%;
    text-align: center;
    bottom: 0;
    left: 0;
    background: $color-footer-dark;
    margin-top: 50px;
}

.footer-list {
    margin: auto;
    color: $color-white;
    list-style: none;
}

.footer-button {
    border: none;
    background-color: transparent;
    outline: none;
    margin: auto;
    cursor: pointer;
    color: $color-white;
    list-style: none;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    margin-top: 30px;

    &:hover {
        color: $color-primary;
    }
}

.rows .colum {
    display: inline-block;
    padding: 3em;
}

.logo-image {
    width: 100%;
}

.logo-and-social-colum {
    width: 30%;
    margin-left: 25px;
    text-align: middle;
    float: left;
    background-color: $color-footer-dark;
}

.socialButton {
    margin-right: 20px;
    width: 64px;
    height: 63px;
    border: 15px solid $color-primary;
    border-radius: 30px;
    outline: none;
    background-size: contain;
    background: $color-primary;

    &:hover {
        border: 15px solid $color-primary-light;
        border-radius: 30px;
        outline: none;
        background-size: contain;
        background: $color-primary-light;
        transition: 0.1s;
        transform: scale(1.1);
    }

    &--bird {
        @extend .socialButton;
        margin-right: 0;
    }
}

@media (max-width: 112.5em) {
    .footer-list {
        margin-right: -20px;
        padding-right: 0px;
    }

    .footer-button {
        font-size: 2vw;
    }
}

@media (max-width: 56.25em) {
    .footer-container {
        height: auto;
        padding-right: 0px;
    }

    .footer-list {
        margin-right: 0px;
        padding-right: 0px;
    }

    .socialButton {
        width: 54px;
        height: 53px;
        border-radius: 30px;
    }

    .logo-and-social-colum {
        width: 100%;
        margin: auto;
        float: none;
    }

    .logo-image {
        display: none;
    }

    .footer-button {
        font-weight: 250;
        font-size: 18px;
        line-height: 20px;
    }
}

@media (max-width: 37.5em) {
    
    .logo-and-social-colum {
        padding-bottom: 25px;
    }
}
