.header {
  display: flex;
  flex-direction: column;

  &__image {
    object-fit: contain;
  }
  &__mainImage {
    background-image: url(../../images//headerImage.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
    height: 34vw;
    width: 100vw;
    @include respond(tab-port) {
      background-attachment: inherit;
      height: 50vh;
      background-size: cover;
    }
  }
  &__mobileLogo {
    display: none;
    @include respond(tab-port) {
      display: block;
      width: 45vw;
      margin: auto;
      margin-top: 10rem;
    }
  }

  &__nav {
    display: flex;
    position: relative;
    place-content: space-between;
    background: $color-primary;
    height: 14rem;
    // border-bottom-left-radius: 50%;
    // border-bottom-right-radius: 50%;
    clip-path: polygon(0% 0%, 0% 72%, 50% 87%, 100% 72%, 100% 0%);

    transition: 0.5s;

    &__container {
     
      position: relative;
      @include respond(tab-port) {
        position: fixed;
        top: 0;
        width: 100vw;
        height: 10rem;
      }
    }
    &__right {
      width: 40%;
      padding-top: 3.5rem;
      @include respond(tab-port) {
        display: none;
      }
    }
    &__logo {
      position: absolute;
      width: 23rem;
      top: -7%;
      left: 50%;
      outline: none;
      transform: translate(-50%, 0%);
      transition: 0.5s;
      @include respond(tab-port) {
        display: none;
      }
    }
    &__left {
      width: 40%;
      padding-top: 3.5rem;
      @include respond(tab-port) {
        display: none;
      }
    }

    &__list {
      display: flex;
      justify-content: space-around;
      list-style-type: none;
      margin: 0;
      text-align: center;

      &-link {
        text-decoration: none;
        color: #fff;
        font-family: Rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 2.4rem;
        line-height: 2.5rem;
        padding: 10rem 3rem;

        &:hover {
          color: $color-black;
          transition: 0.5s;
        }

        @include respond(tab-land) {
          font-size: 2rem;
        }
      }
    }

    @include respond(tab-port) {
      // display: none;
      background: rgba($color-footer-dark, 0.9);
      clip-path: none;

      height: 10rem;
    }
  }
}
.sticky {
  // position: fixed;
  // top: 0;
  // width: 100%;
}

.login-button {
  height: 2vw;
  width: 2vw;
  margin-top: 30px;
  margin-right: 60px;
}

.search-container {
  margin-top: -55px;
  margin-right: 140px;
  background-color: wheat;
  height: 60px;
  width: 4vw;
  transition: width 600ms ease-out, height 600ms ease-out;
}

.search-button {
  height: 50px;
  width: 2.2vw;
  background-size: contain;
  background-image: url(../../images/search-icon.png);
  background-repeat: no-repeat;
}

// .search-container:hover {
//   width: 50vw;
//   height: 200px;

// }

.search-category-button {
  border: none;
  background-color: transparent;
  outline: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
