.header {
  display: flex;
  flex-direction: column;

  &__mainImage {
    // background-image: url(../../images//headerImage.png);
    // background-size: cover;
    // background-position: top;
    // position: relative;
    // background-attachment: fixed;
  }

  &__nav {
    display: flex;
    position: relative;
    place-content: space-between;
    background: $color-primary;
    border: 1px solid $color-primary-light;
    height: 14rem;
    // border-bottom-left-radius: 50%;
    // border-bottom-right-radius: 50%;
    clip-path: polygon(0% 0%, 0% 72%, 50% 100%, 100% 72%, 100% 0%);

    &__container {
      position: relative;
    }
    &__right {
      width: 40%;
      padding-top: 3.5rem;
    }
    &__logo {
      position: absolute;
      width: 28rem;
      top: -9%;
      left: 50%;
      transform: translate(-50%, 0%);
    }
    &__left {
      width: 40%;
      padding-top: 3.5rem;
    }

    &__list {
      display: flex;
      justify-content: space-around;
      list-style-type: none;
      margin: 0;
      text-align: center;

      &-link {
        text-decoration: none;
        color: #fff;
        font-family: Rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 2.5rem;
        line-height: 4.7rem;
        padding: 10rem 3rem;
        transition: 0.3s all;

        &:hover {
          color: $color-grey-light-2;
          background: rgba($color-primary-light, 0.65);
        }

        @include respond(tab-land) {
          //   font-size: 2rem;
        }
      }
    }
  }
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
