.header {
  top: 0;
  width: 100vw;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  padding: 1rem 6rem;
  background: $color-white;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.28);
  z-index: 10;
  @include respond(tab-port) {
    background: $color-footer-dark;
    clip-path: none;
    height: 8rem;
  }

  &__logo {
    width: 113.87px;
    height: 92px;
    background-image: url(../../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;

    
    @media screen and (max-width: 950px) {
      width: 40px;
      height: 50px;
    }

    @include respond(tab-port) {
      margin-right: -15px;
      width: 50px;
      height: 50px;
      background-image: url(../../images/logo-mobile.svg);
    }
  }

  &__nav {
    display: flex;
    top: 0;
    place-content: space-between;
    align-items: center;
    z-index: 1;

    @include respond(tab-port) {
      display: none;
    }

    &__container {
      height: fit-content;
      margin-left: auto;
      @include respond(tab-port) {
        position: fixed;
        top: 0;
        height: 14rem;
      }
    }
    &__right {
      width: 40%;
      padding-top: 3.5rem;
      @include respond(tab-port) {
        display: none;
      }
    }
    &__left {
      width: 40%;
      padding-top: 3.5rem;

      @include respond(tab-port) {
        display: none;
      }
    }

    &__list {
      display: flex;
      justify-content: right;
      list-style-type: none;
      margin: 0;
      text-align: right;

      &-link {
        text-decoration: none;
        color: $color-black-main;
        font-family: $default-font-family;
        font-style: $font-style-normal;
        font-weight: $font-weight-normal;
        font-size: 2.5rem;
        line-height: 2.5rem;
        padding: 5.5rem 3rem;
        margin: 0 2rem;

        &:hover {
          color: $color-primary;
          transition: 0.2s;
        }

        @include respond(tab-land) {
          font-size: 2rem;
        }
      }
    }
  }
}

.searchBar {
  align-items: center;
  display: flex;
  width: 18%;
  min-width: 20rem;
  max-width: 31rem;
  height: 5rem;
  background: $color-black-main;
  border-radius: 2rem;
  padding: 1rem 3rem;

  @include respond(tab-port) {
    display: none;
  }

  &__textField {
    width: 90%;
    font-size: 2rem;
    color: white;
    font-family: $default-font-family;
    font-style: $font-style-normal;
    font-weight: $font-weight-normal;
    background: $color-black-main;
    border: none;
    outline: none;
  }

  &__submit {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.28);
    transition: all 0.3s;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    margin-right: auto;
    margin-left: -15px;
    &:hover {
      @include buttonHover;
    }
  }
}
