
.intro-container {
    margin: auto;
    width: 100%;
    margin-top: 50px;
    max-width: 1920px;
}

.title-container {
    position: relative;
    margin-top: 80px;
    display: block;
    text-align: center;
    max-width: 1920px;
}

.intro-title-begin {
    color: $color-black;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
}

.intro-title-end {
    color: $color-primary;
    font-family: Rubik;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
}
