.miniSearch {
  display: flex;
  height: auto;
  width: 100%;
  text-align: center;

  @include respond(tab-port) {
    display: inline;
  }

  &__wrapper {
    position: relative;
    background: #e7e3d7;
    width: 70vw;
    margin-top: 100px;
    border-radius: 40px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;

    @include respond(tab-port) {
      width: 100vw;
      margin-top: 0px;
      border-radius: 0px;
      background: url(../../images/miniSearch-mobile.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position-y: center;
    }
  }
  &__mobile {
    display: none;
    @include respond(tab-port) {
      position: absolute;
      display: inline-block;
      right: 0;
      top: 0;
      width: 100vw;
      max-height: 10rem;
      transform: translateY(-80%);
    }
  }
  &__title {
    margin-left: 75px;
    margin-bottom: 40px;
    padding-top: 25px;
    font-family: $default-font-family;
    font-style: $font-style-normal;
    font-weight: $font-weight-bold;
    font-size: 5rem;
    line-height: 83px;
    color: $color-primary;

    @include respond(tab-port) {
      font-size: 35px;
      margin-left: 0px;
      padding-top: 0px;
      margin-bottom: 0;
      width: 100vw;
      text-align: right;
      padding-right: 2rem;
    }
  }

  &__dropdown {
    position: relative;
    margin: 25px;
    margin-left: 75px;
    width: 25vw;
    height: 50px;
    padding-right: 25px;
    background: $color-white;
    border: 1px solid $color-white;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.28);
    border-radius: 20px;
    font-family: $default-font-family;
    font-style: $font-style-normal;
    font-weight: $font-weight-normal;
    font-size: 2.3rem;
    line-height: 36px;
    color: $color-black;
    background-image: url(../../images/dropdown-arrow.svg);
    background-size: 30px auto;
    background-repeat: no-repeat;
    background-position-x: 6%;
    background-position-y: 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
    cursor: pointer;
    outline: none;
    z-index: 2;
    @include respond(big-desktop) {
      margin: 25px 2rem;
    }
    @include respond(tab-port) {
      height: auto;
      width: 44vw;
      display: inline-block;
      margin-left: 0;
      font-size: 2rem;
      padding: 0.5rem 0;
      padding-right: 1.5rem;
      margin: 3rem 1rem;
      background-size: 2rem auto;
      background-position-x: 10%;
    }
  }

  &__button {
    position: relative;
    margin-left: 75px;
    text-align: center;
    vertical-align: middle;
    width: 30vw;
    height: 53.36px;
    margin-top: 50px;
    margin-bottom: 75px;
    background: $color-secondary;
    border: 1px solid $color-primary;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.28);
    border-radius: 20px;
    color: $color-white;
    font-family: $default-font-family;
    font-style: $font-style-normal;
    font-weight: $font-weight-bold;
    font-size: 2.3rem;
    line-height: 36px;
    outline: none;
    border: none;
    cursor: pointer;
    z-index: 2;

    @include respond(tab-port) {
      width: 95vw;
      margin: 4rem auto 9rem;
      height: auto;
      padding: 0.5rem;
    }
  }

  &__animalSide {
    width: 25%;
    margin: auto;
    margin-bottom: -85px;
    margin-right: -46vw;

    @include respond(big-desktop) {
      width: 100%;
      text-align: center;
    }

    @include respond(tab-port) {
      display: none;
    }

    &__image {
      -webkit-user-drag: none;
      -khtml-user-drag: none;
      -moz-user-drag: none;
      -o-user-drag: none;
      position: relative;
      width: 77vw;
      z-index: 1;
    }
  }
}
