.petCard {
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 377px;
    height: 633px;
    background: $color-white;
    box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    margin-right: 5.5vw;
    margin-left: 5.5vw;

    &__image {
        margin-top: 25px;
        object-fit: cover;
        width: 316px;
        height: 344px;
        border-radius: 10px;
    }

    &__name {
        padding-right: 45px;
        text-align: right;
        font-family: Rubik;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 36px;
        color: #56bed1;
    }

    &__goodWords {
        padding-right: 45px;
        text-align: right;
        font-family: Rubik;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 36px;
        color: #56bed1;
    }

    &__region {
        padding-right: 55px;
        text-align: right;
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 50px;
        color: $color-black;
    }

    &__houseIcon {
        margin-left: 5px;
    }

    &__age {
        padding-right: 55px;
        text-align: right;
        font-family: Rubik;
        font-style: normal;
        font-weight: normal;
        font-size: 25px;
        line-height: 50px;
        padding-bottom: 10px;
        color: $color-black;
    }

    &__calendarIcon {
        margin-left: 5px;
    }

    &__detailsButton {
        margin-left: 125px;
        font-family: Rubik;
        font-style: normal;
        font-weight: 500;
        font-size: 25px;
        line-height: 30px;
        color: $color-white;
        width: 202px;
        height: 50px;
        background: $color-secondary;
        border: 1px solid $color-secondary;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.28);
        border-radius: 20px;
        outline: none;
        border: none;
        cursor: pointer;
    }
}
