.shelters {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  align-items: center;
  background-image: url(../../images/contact-us-background.svg);
  background-position: left, right top;
  background-size: cover;
  background-repeat: no-repeat;

  &__rightPeekingImage {
    right: -5vw;
    position: absolute;
    top: -14.8vw;
  }

  &__leftPeekingImage {
    left: -5vw;
    position: absolute;
    top: -14.8vw;
  }

  &__image {
    width: 40vw;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;

    @include respond(phone) {
      display: none;
    }
  }

  &__title {
    padding-top: 100px;
    padding-bottom: 50px;
    font-family: $default-font-family;
    font-style: $font-style-normal;
    font-weight: $font-weight-bold;
    font-size: 5rem;
    line-height: 53px;
    color: #56bed1;

    @include respond(tab-port) {
      font-size: 30px;
      padding-top: 50px;
      padding-bottom: 25px;
    }
  }

  &__content {
    padding: 10px 10px;
    font-family: $default-font-family;
    font-style: $font-style-normal;
    font-weight: $font-weight-normal;
    font-size: 2.8rem;
    line-height: 53px;
    color: $color-white;
  }

  &__text {
    display: flex;
    max-width: 70%;
    margin-right: auto;
    margin-left: auto;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px;
  }

  &__logo {
    width: 150px;
    margin: 15px;

    @include respond(tab-port) {
      width: 75px;
    }
  }
}
