.shelters {
    height: auto;
    width: 100%;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    align-items: center;
    background-image: url(../../images/contact-us-background.svg);
    background-position: left, right top;
    background-size: cover;
    background-repeat: no-repeat;

    &__rightPeekingImage {
        right: -5vw;
        position: absolute;
        top: -14.8vw;
    }

    &__leftPeekingImage {
        left: -5vw;
        position: absolute;
        top: -14.8vw;
    }

    &__image {
        width: 40vw;
        -webkit-user-drag: none;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -o-user-drag: none;
        
        @include respond(phone) {
            display: none;
          }
    }

    &__title {
        padding-top: 100px;
        padding-bottom: 50px;
        font-family: Rubik;
        font-style: $font-style-normal;
        font-weight: $font-weight-bold;
        font-size: 5rem;
        line-height: 53px;
        color: #56bed1;
    }

    &__content {
        padding: 10px;
        font-family: Rubik;
        font-style: $font-style-normal;
        font-weight: $font-weight-normal;
        font-size: 2.8rem;
        line-height: 53px;
        color: $color-white;
    }
}
